<HTML>
  <HEAD>
    <TITLE>test download</TITLE>
  </HEAD>
  <BODY>
<% params[:userid]+"'s contents" %>
<%= @pic.each do |pic| %>
<%= pic.title %><br>
<%= pic.category %><br>
<%= link_to image_tag(pic.filedata), :controller => "pic", :action => "convert", id: pic.id %><br>
<% end %>
    <%= link_to "download pdf",{:action=> "convert"} %>
  </BODY>
  
</HTML>
