<% provide(:title, "コンテンツページ") %>
<%= render 'pic/header' %>
<div id="container">
  <%= render 'pic/sidbar' %>
  <div id="content">
    カテゴリー選択<br>
    <%= link_to "自分の作品", action: "img_show", category: "-1" %>
    <%= link_to image_tag('/contents/character.png'), action: "img_show", category: "0" %>
    <%= link_to image_tag('/contents/plant.png'), action: "img_show", category: "1" %>
    <%= link_to image_tag('/contents/food2.png'), action: "img_show", category: "2" %>
    <%= link_to image_tag('/contents/pepple.png'), action: "img_show", category: "3" %>
    <%= link_to image_tag('/contents/animal.png'), action: "img_show", category: "4" %>
    <%= link_to image_tag('/contents/car2.png'), action: "img_show", category: "5" %>
    <%= link_to image_tag('/contents/mark.png'), action: "img_show", category: "6" %>
    <%= link_to image_tag('/contents/etc.png'), action: "img_show", category: "7" %>
    <br>
    <% @img.reverse_each do |img| %>
    <ul class="thumbnail clearfix">
      <li>
	<%= link_to (image_tag "/img/#{img.title}.png", size: "150x150"), action: 'download', id: img.id %>
	<%= link_to img.title.split("_")[0].truncate(10), action: 'download', id: img.id %>
      </li>
    </ul>
    <% end %>
  </div>
</div>
<%= render 'pic/footer' %>
