<h1>Pic#index</h1>
<p>Find me in app/views/pic/index.html.erb</p>
注意書き<br>
cookieで簡単なセッション管理してるからcookieを消すとログイン解除されるよ<br>
cookieにセッション内容は保存されないから安心してほしい<br>
cookie削除してそのまま何かしらのaction呼び出したらエラー（InvalidAuthenticityToken）吐くよ<br>
Base64に"data:image/png;base64,"　が入ってると正しく保存できないよ<br>
平文で通信してるから通信内容がだだ漏れだけれど許してほしい<br>
基本的にUTF-8だから日本語入力はできるよ そのうちできなくするよ<br>
ルーティングがしっちゃかめっちゃかなのはゆるしてほしい<br>
デザインもしっちゃかめっちゃかなのはゆるしてほしい<br>
<%= image_tag(asset_path("asdfgh_adaa_1511235430.png")) %><br>
<br>
<% if logged_in? %>

Welcome, <%= current_user.userid %><br>
<%= link_to 'my contents', :action => 'img_show', :userid => current_user.userid %><br>
<%= link_to 'logout', :action => 'logout_user' %><br>
mycontentsに飛ぶとデータベースからuseridが<%= current_user.userid %>に引っかかったものを全部表示するよ。<br>
その際に正しく保存できてない画像は壊れて表示されるよ。そのうち直すよ<br>
logoutはcookieとsessionを削除するよ。
<% else %>
<%= link_to "サインイン", action: "login" %><br>
<%= link_to "新規登録", action: "register" %><br>
<%= link_to "パスワード忘れた", action: "forgot" %><br>
<% end %>
<br>

POSTテスト用<br>
<%= form_tag(:action => :create) do %>
ユーザーID<%= text_field_tag :userid %><br>
作品のタイトル<%= text_field_tag :title %><br>
カテゴリー<%= number_field_tag :category %><br>
Base64化したPNG画像<%= text_area_tag :filedata %><br>
<%= submit_tag "images" %><br>
<% end %>
