<html lang="ja">
  <header>
    <meta charset="utf-8">
    <% provide(:title, "ログイン") %>
  </header>
    <body>
      
      <% if logged_in? %>
      <%= current_user.userid %><br>
      <% else %>
      <div class="form-wrapper">
	<h1>Sign In</h1>
	<%= form_tag(:action => :login_user) do %>
	<form>
	  <div class="form-item">
	    <%= label_tag  :userID %>
	    <%= text_field_tag :userid %>
	  </div>
	  <div class="form-item">
	    <%= label_tag :password %>
	    <%= password_field_tag :password %>
	  </div>
	  <div class="button-panel">
	    <%= submit_tag "Sign In", class: "button" %>
	  </div>
	</form>
	<% end %>
	<% end %>
	<div class="form-footer">
	  <p><%= link_to("Create an account", action: 'register') %></p>
	  <p><%= link_to("Forgot password", action: 'forgot') %></p>
	</div>
      </div>
    </body>
</html>
