<html lang="ja">
  <header>
    <meta charset="utf-8">
    <% provide(:title, "新規登録") %>
  </header>
  <body>
    平文での通信だから個人情報に関わらないものを<br>
    <% if logged_in? %>
    <% else %>
    <div class="form-wrapper">
      <h1>Create Account</h1>
      <%= form_tag(action: 'add_user') do %>
      <form>
	<div class="form-item">
	  <%= label_tag  :userID %>
	</div>
	<div class="form-item">
	  <%= label_tag :password %>
	  <%= password_field_tag :password %>
	</div>
	<div class="form-item">
	  <%= label_tag :password_confirmation %>
	  <%= password_field_tag :password_confirmation %>  
	</div>
	<div class="button-panel">
	  <%= submit_tag "New Account", class: "button" %>
	</div>
      </form>
      <% end %>
      <% end %>
      <p> <%= link_to"", action: 'login' %></p>
    </div>
</div>
<div class="form-footer">
</body>
</html>
